::selection {
	background: tomato;
}

.progresschart {
	position: fixed;
	right: 0;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100px;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.progressitem {
	background-color: tomato;
	border: 2px solid white;
	margin: 5px 0px 0px 0px;
}

.header {
	padding: 20px;
}

.headerimage {
	display: inline-block;
	margin: 20px;
	font-size: 50px;
}

img {
	border: 2px solid black;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-items: center;
	color: black;
	font-family: Anton, sans-serif;
	font-size: 50px;
	max-width: 88%;
}

h1 {
	font-family: Anton, sans-serif;
	font-size: 80px;
	letter-spacing: 10px;
	margin-left: 175px;
}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-weight: lighter;
	letter-spacing: 5px;
	margin: -50px 0px 75px 300px;
}

h3 {
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	color: black;
	margin: 20px 20px 0px 20px;
	padding: 10px;
	border-top: 4px solid tomato;
	border-left: 4px solid tomato;
	border-right: 4px solid tomato;
	border-top-left-radius: 20px;
	max-width: 88%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4 {
	font-family: Anton, sans-serif;
	font-size: 70px;
	letter-spacing: 5px;
	margin: 40px 0px 20px 20px;
	padding: 10px;
}

.stepheader {
	margin: 75px 20px 20px 20px;
	padding: 10px;
	background-color: black;
	border: 4px solid black;
	color: white;
	font-family: Anton, sans-serif;
	font-size: 40px;
	max-width: 88%;
}

.stepheader:hover {
	background: #000 url("https://media.giphy.com/media/A50g5mB648OYM/giphy.gif");
}

body {
	background: linear-gradient(#44d9e6, white);
	background-repeat: no-repeat;
	font-family: Helvetica, sans-serif;
}

span {
	font-weight: bold;
	color: tomato;
}

strong {
	font-weight: bold;
	font-size: 25px;
}

.questions {
	margin: 20px;
	padding: 10px;
	border: 4px solid tomato;
	background-color: white;
	line-height: 25px;
	max-width: 88%;
}

.questionlist {
	margin: 5px 0px 40px 100px;
}

button {
	margin: 5px 0px 20px 100px;
	padding: 10px;
	background-color: tomato;
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	border: 4px solid white;
	border-radius: 4px;
}

li {
	padding: 5px;
	width: 55%;
	border-bottom: 2px solid tomato;
	vertical-align: middle;
}

li:hover {
	background-color: black;
	color: white;
}

main {
	margin: 20px;
	font-family: Anton, sans-serif;
	font-size: 18px;
}

.timeormoney {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	font-family: Anton, sans-serif;
	font-size: 18px;
	text-align: center;
	line-height: 3;
	margin: 0px 20px 20px 20px;
	padding: 10px;
	border-left: 4px solid tomato;
	border-right: 4px solid tomato;
	border-bottom: 4px solid tomato;
	border-bottom-right-radius: 20px;
	max-width: 88%;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:link:hover {
	border-bottom: 5px solid tomato;
}

a:visited {
	color: tomato;
}

footer {
	background-color: black;
	color: white;
	font-weight: bold;
	margin: 20px;
	padding: 10px;
	border: 4px solid black;
	max-width: 88%;
	line-height: 30px;
}

footer:hover {
	background: #000 url("https://media.giphy.com/media/A50g5mB648OYM/giphy.gif");
}

@media screen and (max-width: 700px) {
	.timeormoney {
		flex-direction: column;
		flex-wrap: nowrap;
		height: 100%;
	}
}